SERVICE_NAME=service
SERVICE_PATH=$HOME/service
ENCRYPT_PASSWORD=password
RCLONE_CONFIG_PATH=$HOME/.config/rclone/rclone.conf
RCLONE_REMOTE=gdrive
REMOTE_FOLDER=service-backup
CRON_SCHEDULE="30 0 * * *"
